*{
    margin: 0;
    padding: 0;
}
.upperPart{
    display: flex;
    height: 100px;
    color: white;
    background-color: rgb(179, 221, 116);
    justify-content: center;
    align-items: center;
}
