{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://raw.githubusercontent.com/amcharts/weather/master/assets/img/icons/favicon.ico"
        type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}">
    <title>Weather App</title>
</head>

<body>



    <div class="upperPart">
        <h2>What's the weather like?</h2>
    </div>

    <div class="inputSection">
        <form method="get">
            <div class="form-group">
                <input type="text" name="enteredCity" class="form-control" id="input_city" placeholder="Enter City"
                    required>
                <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>

    {% if request.GET.enteredCity %}
    <div class="card " style="max-width: 18rem;">

        <div class="card-body text-success" id="card">
            <div class="image">
                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
            </div>
            <div class="values">
                <h4 class="card-title"> {{weather.city}}</h4>
                <h5>{{weather.temperature}}℃</h5>
                    <h5>{{weather.description}}</h5>
            </div>
        </div>
    </div>
    {% endif %}


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>